.mixin.out/audit/mixin_implementation_report.csv
.mixin.out/audit/mixin_implementation_report.txt
.ReAuth.cfg
assets/galacticraftMaps/large.jpg
assets/galacticraftMaps/overworldRaw.bin
astralsorcery/gatewayFilter/worldFilter.dat
config/buildcraft/detailed.properties
config/MouseTweaks.cfg
config/NEI/client.cfg
config/jei/jei.cfg
config/jei/worldSettings.cfg
config/InvTweaks.cfg
config/XaeroWorldMap/
config/xaerominimap.txt
config/xaeroworldmap.txt
config/worldedit/worldedit.properties
logs/
options.txt
optionsof.txt
saves/
screenshots/
minecraftinstance.json
usercache.json
usernamecache.json
backups/backups.json
config/AppliedEnergistics2/aerecipes/items.csv
config/XaeroWaypoints/
crash-reports/
optionsshaders.txt
backups/
config/AppliedEnergistics2/aerecipes/
BotaniaVars.dat
crafttweaker.log
packets.log
config/tellme/
fonts/
config/betterfps.json
config/dimensionalcontrol/documentation/

config/dimensionalcontrol/output/
crafttweaker_dump/
TombManyGraves/
discordsuite/
dropt.log
EIILog.txt
XaeroWaypoints/
XaeroWorldMap/
config/nutrition/nutrients/new 1.txt
scripts/MineTweakerRecipeMaker.zs
scripts/operators.gdsl
*.gdsl

\.curseclient

*.gz

HammerCore/

libraries/

llibrary/debug/

config/AppliedEnergistics2/VersionChecker.cfg

config/dynamiclights_onfire\.cfg

config/ichunutil\.cfg

config/astralsorcery/amulet_enchantments.cfg

resourcepacks/ctp_1\.2_MCv3\.zip

config/AppliedEnergistics2/items\.csv

config/cofh/world/CtMappings\.txt

config/IC2.ini

config/brandon3055/contributors\.json

config/dynamiclights_entityclasses\.cfg

config/jei/bookmarks\.ini


dumps/loot_tables/
AstralSorceryData/



emojiful/cache/

patchouli_data\.json


config/InvTweaks/InvTweaks\.cfg

config/LagGoggles-client\.cfg

config/LagGoggles-server\.cfg

config/InvTweaksRules\.txt

mods/memory_repo/net/ilexiconn/llibrary-core/1\.0\.10-1\.12\.2/

local/ftbutilities/all_permissions\.html

local/client/ftblib\.cfg

local/client/ftbutilities\.cfg

local/client/rtdata\.json

local/client/sidebar_buttons\.json

local/ftbutilities/backups\.json

local/ftbutilities/player_ranks\.txt

local/ftbutilities/ranks\.txt

local/ftbutilities/server_badges\.txt

local/ftbutilities/all_permissions_full_list\.txt

config/new 2\.txt

config/InvTweaks/InvTweaksRules\.txt

config/InvTweaks/InvTweaksTree\.txt

config/randompatches\.cfg

config/cyberware\.cfg

Changelog\.txt

config/InvTweaks/trees/readme\.txt

config/jei/searchColors\.cfg

dumps/

config/JustEnoughCalculation/record\.json



config/splash\.properties

servers\.dat

config/minetogether\.cfg

local/minetogether/anonusers\.json

local/minetogether/ingameChatFile\.txt

local/minetogether/gdpr\.txt

manifest.json
perms.txt
