# Configuration file

bosses {
    # A list of potions (registry names) that bosses cannot generate with. [default: ]
    S:"Blacklisted Potions" <
     >

    # The possible mob types for bosses.  Format is weight@entity, entity is a registry name. [default: [4@minecraft:zombie], [3@minecraft:skeleton], [2@minecraft:spider], [1@minecraft:cave_spider], [1@minecraft:creeper], [1@minecraft:wither_skeleton]]
    S:"Boss Spawner Mobs" <
        4@minecraft:zombie
        2@cyberware:cyberzombie
        3@minecraft:skeleton
        2@minecraft:spider
        1@minecraft:cave_spider
        1@dmonsters:freezer
        2@dmonsters:mutantsteve
        1@dmonsters:climber
        3@emberroot:rainbow_golem
        2@emberroot:skeleton_frozen
        1@iceandfire:if_cockatrice
        2@mekanism:babyskeleton
        1@quark:wraith
        1@thaumcraft:cultistleader
        2@thaumcraft:cultistknight
        1@thaumcraft:wisp
        1@thermalfoundation:basalz
        1@thermalfoundation:blitz
        1@thermalfoundation:blizz
        1@minecraft:creeper
        1@minecraft:wither_skeleton
     >

    # The amount of extra damage bosses do, in half hearts. [range: 0.0 ~ 2.14748365E9, default: 4.0]
    S:"Damage Bonus"=8.0

    # If bosses have fire resistance. [default: true]
    B:"Fire Resistance"=true

    # The amount boss health is multiplied by.  Base hp * factor = final hp. [range: 0.0 ~ 2.14748365E9, default: 4.0]
    S:"Health Multiplier"=4.0

    # The amount of knockback resist bosses have. [range: 0.0 ~ 2.14748365E9, default: 0.85]
    S:"Knockback Resist"=0.85

    # The level up chance, this is rolled once per number of levels.  Levels determine gear. [range: 0.0 ~ 2.14748365E9, default: 0.25]
    S:"Level Up Chance"=0.25

    # The chance a gear piece will be randomly enchanted. [range: 0.0 ~ 2.14748365E9, default: 0.25]
    S:"Random Enchantment Chance"=0.25

    # The chance a boss will have extra random potion effects. [range: 0.0 ~ 2.14748365E9, default: 0.45]
    S:"Random Potion Chance"=0.85

    # The regeneration level of bosses.  Set to 0 to disable. [range: 0 ~ 2147483647, default: 2]
    I:"Regen Level"=2

    # The resistance level of bosses.  Set to 0 to disable. [range: 0 ~ 2147483647, default: 1]
    I:"Resistance Level"=1

    # The amount boss speed is multiplied by.  Base speed * factor = final speed. [range: 0.0 ~ 2.14748365E9, default: 1.15]
    S:"Speed Multiplier"=1.25

    # If bosses have water breathing. [default: true]
    B:"Water Breathing"=true
}


"brutal spawners" {
    # The potion effects applied to all brutal mobs.  Format is potion@level, potion is a registry name. [default: [minecraft:resistance@2], [minecraft:fire_resistance@1], [minecraft:regeneration@1], [minecraft:speed@2], [minecraft:water_breathing@1], [minecraft:strength@1]]
    S:"Brutal Potion Effects" <
        minecraft:resistance@2
        minecraft:fire_resistance@1
        minecraft:regeneration@1
        minecraft:speed@2
        minecraft:water_breathing@1
        minecraft:strength@1
     >

    # The possible spawn entries for brutal spawners.  Format is weight@entity, entity is a registry name.  apotheosis:random is a special name, used to generate a spawner that spawns any mob. [default: [4@minecraft:zombie], [1@minecraft:skeleton], [1@minecraft:spider], [1@minecraft:cave_spider], [1@minecraft:creeper], [1@apotheosis:random]]
    S:"Brutal Spawner Mobs" <
        4@minecraft:zombie
        2@cyberware:cyberzombie
        3@minecraft:skeleton
        2@minecraft:spider
        1@minecraft:cave_spider
        1@dmonsters:freezer
        2@dmonsters:mutantsteve
        1@dmonsters:climber
        3@emberroot:rainbow_golem
        2@emberroot:skeleton_frozen
        1@iceandfire:if_cockatrice
        2@mekanism:babyskeleton
        1@quark:wraith
        1@thaumcraft:cultistleader
        2@thaumcraft:cultistknight
        1@thaumcraft:wisp
        1@thermalfoundation:basalz
        1@thermalfoundation:blitz
        1@thermalfoundation:blizz
        1@minecraft:creeper
        1@minecraft:wither_skeleton
        1@apotheosis:random
     >
}


dungeons {
    # The chance for a dungeon to have a brutal spawner. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Dungeon Brutal Chance"=0.05

    # The chance for a dungeon to have a swarm spawner. [range: 0.0 ~ 1.0, default: 0.1]
    S:"Dungeon Swarm Chance"=0.1
}


frequencies {
    # The chance (per chunk) for a boss to try spawning. [range: 0.0 ~ 1.0, default: 0.08]
    S:"Boss Chance"=0.08

    # The chance (per chunk) for a brutal spawner to try spawning. [range: 0.0 ~ 1.0, default: 0.12]
    S:"Brutal Spawner Chance"=0.12

    # The chance (per chunk) for a swarm spawner to try spawning. [range: 0.0 ~ 1.0, default: 0.15]
    S:"Swarm Spawner Chance"=0.15
}


general {
    # The dimensions that the deadly module will generate in. [default: [0]]
    S:"Generation Dimension Whitelist" <
        100
        145
        146
        147
        -1
     >
}


"random spawners" {
    #  [range: 0 ~ 50, default: 1]
    I:"botania:pink_wither"=0

    #  [range: 0 ~ 50, default: 1]
    I:"cyberware:cyberzombie"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:glitch"=0

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_cave_spider"=0

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_enderman"=0

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_slime"=0

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_spider"=0

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:baby"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:climber"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:entrail"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:freezer"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:hauntedcow"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:mutantsteve"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:present"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:stranger"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:topielec"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:wideman"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:woman"=1

    #  [range: 0 ~ 50, default: 1]
    I:"dmonsters:zombiechicken"=1

    #  [range: 0 ~ 50, default: 1]
    I:"draconicevolution:chaosguardian"=0

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:creeper"=1

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:dire_wolf"=0

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:enderminy"=0

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:hero"=1

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:knight_fallen"=1

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:rainbow_golem"=3

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:rainbowslime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:skeleton_frozen"=1

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:slime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:timberwolf"=1

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:withercat"=1

    #  [range: 0 ~ 50, default: 1]
    I:"emberroot:witherwitch"=1

    #  [range: 0 ~ 50, default: 1]
    I:"enderutilities:endermanfighter"=4

    #  [range: 0 ~ 50, default: 1]
    I:"iceandfire:cyclops"=0

    #  [range: 0 ~ 50, default: 1]
    I:"iceandfire:gorgon"=0

    #  [range: 0 ~ 50, default: 1]
    I:"iceandfire:if_troll"=0

    #  [range: 0 ~ 50, default: 1]
    I:"iceandfire:siren"=1

    #  [range: 0 ~ 50, default: 1]
    I:"iceandfire:stymphalianbird"=0

    #  [range: 0 ~ 50, default: 1]
    I:"industrialforegoing:pink_slime"=0

    #  [range: 0 ~ 50, default: 1]
    I:"lcrdrfs:jet_pack_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"lcrdrfs:laser_creeper"=1

    #  [range: 0 ~ 50, default: 1]
    I:"lcrdrfs:robo_dino"=0

    #  [range: 0 ~ 50, default: 1]
    I:"mekanism:babyskeleton"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mightyenderchicken:ent_chaoschicken"=0

    #  [range: 0 ~ 50, default: 1]
    I:"mightyenderchicken:ent_enderchicken"=0

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:blaze"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:cave_spider"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:creeper"=4

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:elder_guardian"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:ender_dragon"=0

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:enderman"=0

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:endermite"=4

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:evocation_illager"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:ghast"=3

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:giant"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:guardian"=0

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:husk"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:illusion_illager"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:magma_cube"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:shulker"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:silverfish"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:skeleton"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:slime"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:spider"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:stray"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:vex"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:vindication_illager"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:witch"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:wither"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:wither_skeleton"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:zombie"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:zombie_pigman"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:zombie_villager"=8

    #  [range: 0 ~ 50, default: 1]
    I:"quark:foxhound"=1

    #  [range: 0 ~ 50, default: 1]
    I:"quark:pirate"=1

    #  [range: 0 ~ 50, default: 1]
    I:"quark:wraith"=1

    #  [range: 0 ~ 50, default: 1]
    I:"tconstruct:blueslime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:brainyzombie"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:cultistcleric"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:cultistknight"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:cultistleader"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:cultistportalgreater"=0

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:cultistportallesser"=0

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:eldritchcrab"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:eldritchgolem"=0

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:eldritchguardian"=0

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:eldritchwarden"=0

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:firebat"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:giantbrainyzombie"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:inhabitedzombie"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:mindspider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:pech"=0

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:spellbat"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:taintacle"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:taintaclegiant"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:taintacletiny"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:taintcrawler"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:taintseed"=0

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:taintseedprime"=0

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:taintswarm"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:thaumslime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thaumcraft:wisp"=8

    #  [range: 0 ~ 50, default: 1]
    I:"thermalfoundation:basalz"=8

    #  [range: 0 ~ 50, default: 1]
    I:"thermalfoundation:blitz"=8

    #  [range: 0 ~ 50, default: 1]
    I:"thermalfoundation:blizz"=8

    #  [range: 0 ~ 50, default: 1]
    I:"wizardry:spirit_blight"=0

    #  [range: 0 ~ 50, default: 1]
    I:"wizardry:spirit_wight"=0

    #  [range: 0 ~ 50, default: 1]
    I:"wizardry:summon_zombie"=0

    #  [range: 0 ~ 50, default: 1]
    I:"wizardry:unicorn"=0
}


"spawner stats: brutal spawners" {
    # The maximum delay between spawns [range: 1 ~ 32767, default: 400]
    I:"Max Delay"=400

    # The maximum number of nearby entities (when hit, the spawner turns off). [range: 1 ~ 32767, default: 6]
    I:"Max Nearby Entities"=6

    # The minimum delay between spawns [range: 1 ~ 32767, default: 200]
    I:"Min Delay"=200

    # The required distance a player must be within for this spawner to work. [range: 1 ~ 32767, default: 16]
    I:"Player Range"=16

    # The number of mobs that will spawn. [range: 1 ~ 32767, default: 6]
    I:"Spawn Count"=6

    # The delay before first spawn on this spawner. [range: 1 ~ 32767, default: 20]
    I:"Spawn Delay"=20

    # The spawn range. [range: 1 ~ 32767, default: 4]
    I:"Spawn Range"=4
}


"spawner stats: swarm spawners" {
    # The maximum delay between spawns [range: 1 ~ 32767, default: 300]
    I:"Max Delay"=300

    # The maximum number of nearby entities (when hit, the spawner turns off). [range: 1 ~ 32767, default: 32]
    I:"Max Nearby Entities"=32

    # The minimum delay between spawns [range: 1 ~ 32767, default: 75]
    I:"Min Delay"=75

    # The required distance a player must be within for this spawner to work. [range: 1 ~ 32767, default: 8]
    I:"Player Range"=8

    # The number of mobs that will spawn. [range: 1 ~ 32767, default: 8]
    I:"Spawn Count"=8

    # The delay before first spawn on this spawner. [range: 1 ~ 32767, default: 20]
    I:"Spawn Delay"=20

    # The spawn range. [range: 1 ~ 32767, default: 6]
    I:"Spawn Range"=6
}


"swarm spawners" {
    # The possible spawn entries for swarm spawners.  Format is weight@entity, entity is a registry name. [default: [4@minecraft:zombie], [2@minecraft:skeleton], [5@minecraft:spider], [8@minecraft:cave_spider], [1@minecraft:creeper]]
    S:"Swarm Spawner Mobs" <
        4@minecraft:zombie
        2@minecraft:skeleton
        5@minecraft:spider
        8@minecraft:cave_spider
        1@minecraft:creeper
     >
}


