# Configuration file

##########################################################################################################
# flowers
#--------------------------------------------------------------------------------------------------------#
# Features related to flowers added by this mod.
##########################################################################################################

flowers {
    # Whether cornflowers are enabled. [default: true]
    B:Cornflower=true

    # Whether lilies of the valley are enabled. [default: true]
    B:"Lily of the valley"=true

    # Whether wither roses are enabled.
    # Unlike wither roses in vanilla 1.14, they will spawn on soul sand in the Nether. [default: true]
    B:"Wither rose"=true

    # Should wither roses apply wither? [default: true]
    B:"Wither roses cause wither"=true
}


##########################################################################################################
# seaweed
#--------------------------------------------------------------------------------------------------------#
# Features related to kelp.
##########################################################################################################

seaweed {
    # Whether kelp is registered [default: true]
    B:Kelp=true

    # Should kelp grow on its own? [default: true]
    B:"Kelp grows"=true

    # Whether kelp can be cooked into delicious soup [default: true]
    B:"Kelp soup"=true

    # Whether seagrass is registered [default: true]
    B:Seagrass=true
}


