# Configuration file

general {
    B:allowHand=true
    S:breakBlacklist <
        metallurgyAluminium
        metallurgyApatite
        metallurgyIron
        metallurgyPhosphor
        logWood
        metallurgyMagnetite
        metallurgyMagnesite
        metallurgyCoal
        metallurgyVinteum
        metallurgyLignite
        metallurgyQuartzite
        oreQuartzBlack
        metallurgyCertusQuartz
        astralsorcery:blockcustomore:1
        astralsorcery:blockcustomore
        oreAstralStarmetal
        minecraft:stone
        minecraft:netherrack
        minecraft:obsidian
        metallurgyChalcopyrite
        metallurgyPyrite
        metallurgyCopper
        metallurgyDiamond
        metallurgyGraphite
        metallurgyGalena
        metallurgySilver
        metallurgyLead
        metallurgyYellowLimonite
        metallurgyBrownLimonite
        metallurgyBandedIron
        metallurgyMalachite
        metallurgyGold
        metallurgyPlatinum
        metallurgyIridium
        metallurgyVanadiumMagnetite
        metallurgyGrossular
        metallurgySpessartine
        endstone
        metallurgyPyrolusite
        metallurgyTantalite
        metallurgyNickel
        metallurgyGarnierite
        metallurgyCobaltite
        metallurgyCobalt
        metallurgyPentlandite
        metallurgyTetrahedrite
        metallurgyStibnite
        metallurgyTin
        metallurgyCassiterite
        metallurgyCassiteriteSand
        metallurgySandCassiterite
        metallurgyRedstone
        oreSpodumene
        metallurgyLepidolite
        metallurgyGlauconite
        metallurgyTalc
        metallurgySoapstone
        metallurgySphalerite
        metallurgySulfur
        metallurgyIlmenite
        oreBauxite
        oreBeryllium
        oreCasserite
        oreEmerald
        oreLapis
        oreAer-Infused
        oreAqua-Infused
        oreEntropy-Infused
        oreOrder-Infused
        oreIgnis-Infused
        oreTerra-Infused
        oreCalcite
        oreAquaInfused
        oreOrdoInfused
        oreEntropyInfused
        oreTerraInfused
        oreIgnisInfused
        oreAerInfused
        oreSodalite
        oreOlivine
        oreBentonite
        metallurgyNetherQuartz
        metallurgyRuby
        metallurgyCinnabar
        metallurgyIridium
        oreGreenSapphire
        metallurgySapphire
        logMenril
        hardenedClay
        coloredTerracotta
        rftools:dimensional_shard_ore
        rftools:dimensional_shard_ore:1
        rftools:dimensional_shard_ore:2
     >
    S:breakWhitelist <
     >

    # 0 - Drop at position where mined block was
    # 1 - drop at player position
    # 2 - place directly in inventory
    # Min: 0
    # Max: 2
    I:dropItems=0

    # Min: 0.0
    # Max: 1000.0
    D:exhaustionPerBlock=4.0

    # Min: 1
    # Max: 512
    I:maxBlocks=64
    I:maxDistance=10
    B:mergeStone=true
    S:toolBlacklist <
     >
    S:twerkBlacklist <
        minecraft:grass
        minecraft:tallgrass
     >

    # Min: 0.0
    # Max: 1.0
    D:twerkChance=25
    B:twerkPlants=false

    # Min: 1
    # Max: 20
    I:twerkRadius=4
    S:twerkWhitelist <
        
        gregtech:sapling
        rustic:sapling
        integrateddynamics:menril_sapling
        thaumcraft:sapling_greatwood
        wizardry:wisdom_sapling
        thaumcraft:sapling_silverwood
        plants2:crystal_sapling
        rustic:sapling
        rustic:sapling:1
        tconstruct:slime_sapling
        tconstruct:slime_sapling:1
        tconstruct:slime_sapling:2
     >
}


