Version 1.8
# Biome types to use this theme in
# Valid types are =  FOREST, PLAINS, MOUNTAIN, HILLS, SWAMP, WATER, DESERT, FROZEN, JUNGLE, WASTELAND, NETHER, END, MUSHROOM, and MAGICAL
# (BEACH is consider the same as WATER here.)
#
# Biomes types where it should be used
biomes =  WASTELAND, SWAMP, MAGICAL
# Biome types where it should never appear, even if the biome also fit one of the above types
NotInBiomes =  NETHER, END, COLD

Type =  URBAN, NECRO, FOREST
Flags = HARD

# Either ALL or list of comma delimited dimension IDs
DimensionWhitelist = 100

#
# Altitude ranges
#
# Lowest level a floor can be at
minY =  10
# Highest level a floor can be at
maxY =  50

# This is the chest file to be used; if it is chest.cfg its will be under DLDungeonsJBG,
# other chests files will be under DLDungeonsJBG/SpecialChests
ChestsFile = thaumcraft.cfg

#
# Size ranges =  This should contain 5 numbers, at least one of which must not be 0.
# These are relative probabilities for a tiny, small, medium, large, and huge dungeon (in that oreder)
sizes =  0, 0, 5, 3, 0

#
# Style elements =  These must each contain 6 numbers
# in order they must be for none, few, some, plenty, heaps, and always (not literally)
# They are relative probabilites, as before
#
# Roofless, wall-less rooms; mostly for surface dungeons
outside =  25,  0,  0,  0,  0,  0
# Amount of liquid blocks (pools) on the floor
liquids =  0,  0, 50, 50, 0,  0
# Number of extra doors which may lead to rooms off the main route
subrooms =  0, 0, 0, 5, 5, 5
# Frequency of trying to place a mini-room inside a larger room
islands =  0,  5, 50, 50, 20, 5
# How many pillars to use
pillars =  0, 0, 0, 0, 15, 15
# Not used, but will be the number of fences around outdoor rooms
fences =  5,  15, 30, 75, 25,  0
# How generally semetric and organized roosm appear
symmetry =  5,  0, 0, 0, 0,  0
# How much variability in the blocks to be used
variability =  0,  0, 0, 0, 0, 10
# Idea borrowed from Greymerk's Roguelike dungeons; chance of not building over airblocks
degeneracy =  50,  5, 15, 50, 10,  0
# How many feature to add to rooms
complexity =  0,  0, 0, 0, 0, 10
# How much variation in the Y should be found
verticle =   0, 0, 0, 10, 10, 0
# How many entrances to place
entrances =  0,   0, 25, 50, 0,  0
# Frequency of cave-like areas
naturals =  50,  5, 0, 0, 0,  0

#
# Block elements
# Thes are just lists of blocks to uses in building rooms
# Warning =   Versions for version fo Minecraft before 1.7 are not compatible with 1.7+
# For 1.5.2 or 1.6.4 these must be block ids
# for version 1.7+ these are the proper, in-code names for the blocks
# Each of these must contain at least one block, but can contain as many as you like
#
# The main block for building walls
walls =  thaumcraft:stone_ancient, minecraft:nether_brick_fence, sonarcore:stablestonerimmed_purple
# The main block for building floors
floors =  thaumcraft:stone_ancient, thaumcraft:paving_stone_barrier, thaumcraft:taint_soil, chisel:voidstone(5)
# The main block for lining ceilings
ceilings =  thaumcraft:flesh_block, thaumcraft:stone_ancient_glyphed, thaumcraft:stone_ancient_tile
# Blocks to be used as outdoor fences (not yet used)
fencing =  minecraft:cobblestone_wall, minecraft:fence
# Block to represent liquids; fill pools
liquid =  thaumcraft:liquid_death, thaumcraft:taint_geyser, thaumcraft:tube
# Block from which to build pillars
pillarBlock = thaumcraft:table_stone, thaumcraft:stone_ancient_glyphed, thaumcraft:loot_crate_common, thaumcraft:loot_urn_common, chisel:voidstone(7)
# Block found in cave-like areas
caveblock = thaumcraft:stone_ancient_rock

#
# Mob fields
#
# These are lists of mobs, and most be in their officialm, in code names
#
# Weak, basic mobs; by default
commonMobs =  thaumcraft:wisp, thaumcraft:taintseed, thaumcraft:mindspider
# Tougher mobs everyday mobs
hardMobs =  bloodmagic:corrupted_zombie, thaumcraft:giantbrainyzombie, thaumcraft:taintswarm
# Really tough mobs, Minefantasy brutes, mid-level Dungeons Mobs, and many of Lycanite's mobs go here
bruteMobs =  thaumcraft:taintseedprime, thaumcraft:eldritchcrab
# The baddest of the bad, Minefantasy dragon, Dungeon Mobs rakshasa, and all bosses go here; empty by default in the overworld
# but for The Nether this has Wither Boss.
eliteMobs = thaumcraft:eldritchguardian
bossMobs = thaumcraft:eldritchwarden
